MYSQL_ROOT_PASSWORD=__MYSQL_ROOT_PASSWORD__
MYSQL_DATABASE=wa_akg
AUTH_SECRET=__AUTH_SECRET_32_bytes__
BASE_URL=https://wa-akg.ciavedana.com.br
NEXTAUTH_URL=https://wa-akg.ciavedana.com.br
NEXT_PUBLIC_SWAGGER_PASSWORD=__SWAGGER_PASSWORD__
ADMIN_EMAIL=admin@ciavedana.com.br
ADMIN_PASSWORD=__ADMIN_PASSWORD__
TZ=America/Sao_Paulo
LOCALE=pt-BR